.portfolio {
    display: flex;
}

.left-column {
    flex: 0 0 300px;
}

.right-column {
    flex: 1 1 auto;
}

.performance-widget {
    margin-top: 30px;
}

.assets-widget {

}

.add-widget {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
}