.footer {
    flex: 0 0 100px;

    &-links {
        display: flex;
        flex-direction: column;
    }

    &-link {
        display: flex;
        margin: 2px 0;
        color: #595959;
        justify-content: end;
    }

    &-subheader {
        margin-right: 10px;
    }

    &-content-container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        color: #b7b7b7;
    }
}
